* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Antonio';
  src: url("/fonts/Antonio-VariableFont_wght.ttf");
}

body {
  font-family: 'Antonio';
  background-color: #FAFAFA;
}

.intro {
  height: 100vh;
}

.intro video {
  height: 100%;
  width: 50%;
  object-fit: cover;
}

.intro h1 {
  position: absolute;
  top: 50%;
  left: 14%;
  letter-spacing: 0.5rem;
  transform: translate(-50%, -50%);
  font-size: 3vw;
  font-weight: 700;
  color: white;
}

.intro h2 {
  position: absolute;
  top: 89%;
  left: 30%;
  letter-spacing: 0.2rem;
  transform: translate(-50%, -50%);
  font-size: 3vw;
  font-weight: 700;
  color: white;
}

section {
  position: relative;
  margin-top: -40px;
  height: 80px;
  background-color: black;
  color: white;
  z-index: 10;
}

section p {
  padding-top: 10px;
  text-align: center;
  font-size: 0.9vw;
}

/* Position the navbar container inside the image */
.container-nav {
  position: absolute;
  margin: 20px;
  width: auto;
  z-index: 100;
}

/* The navbar */
.topnav {
  overflow: hidden;
  margin-left: 4vw;
  background-color: transparent;
}

/* Navbar links */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 2.5vw;
  font-weight: 400;
  transition: all 0.5s;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.section-right {
  position: absolute;
  margin-left: 50%;
}

.section-right img {
  position: relative;
  z-index: 2;
  width: 45vw;
  height: 50vh;
  margin-top: 6vw;
  margin-left: -100px;
  filter: brightness(80%);
  box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
}

.content-first {
  margin-top: 4vw;
  margin-left: 4vw;
}

.content-first h2 {
  font-size: 3.5vw;
}

.content-footer {
  position: relative;
  background-color: white;
  z-index: 2;
  width: 45vw;
  height: 50vh;
  margin-top: 6vw;
  margin-left: -100px;
  filter: brightness(95%);
  box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
}

.content-footer h3 {
  padding: 2vw;
  font-size: 2vw;
}

.content-footer p {
  padding-bottom: 1vw;
  padding-left: 2vw;
  padding-right: 2vw;
  font-weight: 100;
  font-size: 1vw;
}

.social-icons {
  margin-left: 30vw;
  font-size: 30px;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 5px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.about-content {
  margin-bottom: 10vh;
}

/*About page*/
.about-content img {
  float: left;
  z-index: 2;
  width: 55vw;
  height: 50vh;
  margin-top: -50px;
  margin-right: 2vw;
  margin-bottom: 10px;
  box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
}

.about-text {
  margin-left: 10vw;
  margin-top: 5vh;
  border: solid 5px black;
  width: 80vw;
  height: 90vh;
  z-index: -1;
}

.about-text h2 {
  font-size: 1.5vw;
  padding: 2vw;
}

.about-text p {
  font-size: 1vw;
  padding-left: 2vw;
  padding-right: 2vw;
}
