* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  @font-face{
    font-family: 'Antonio';
    src: url('/fonts/Antonio-VariableFont_wght.ttf')
}
  
  body {
    font-family: 'Antonio';
    background-color:  white ;
  }
  
  .intro {
    height: 100vh;
  }
  
  .intro video {
    height: 100%;
    width: 30%;
    object-fit: cover;
  }
  
  .intro h1 {
    position: absolute;
    top: 50%;
    left: 14%;
    letter-spacing: 0.25rem;
    transform: translate(-50%, -50%);
    font-size: 3vw;
    font-weight: 700;
    color:white;
    padding: 1vw;
    // background-color: rgba(0,0,0,0.5);
    
  }
  .intro h2 {
    position: absolute;
    top: 89%;
    left: 30%;
    letter-spacing: 0.2rem;
    transform: translate(-50%, -50%);
    font-size: 3vw;
    font-weight: 700;
    color: white;
  }
  section {
    position: relative;
    margin-top: -40px;
    height: 80px;
    background-color: black;
    color: white;
    z-index: 10;
  }
  
  section p{
    padding-top: 10px;
    font-size: 0.9vw;
  }
  /* Position the navbar container inside the image */
  .container-nav {
    position: absolute;
    margin: 20px;
    width: auto;
    z-index: 100;
  }
  
  /* The navbar */
  .topnav {
    overflow: hidden;
    margin-left: 4vw;
    background-color: rgba($color: #000000, $alpha: 0);
  }
  
  /* Navbar links */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 2.5vw;
    font-weight:400;
    transition: all 0.5s;
  }
  .topnav p {
    float: right;
    margin-left: 35vw;
    margin-top: 1vw;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 1.2vw;
    font-weight:400;
    transition: all 0.5s;
  }
  .topnav i{
      color: #fb4f00;
  }
  
  .topnav a:hover {
    background-color:  #fb4f00;
    color: black;
  }
  .section-right{
      position: absolute;
      margin-left: 50%;
  }
  .card-right{
    z-index: 3;
    width: 100vw;
    height: 80vh;
    margin-top: 0vw;
    background-image: url("/img/welding-tig.jpg");
    background-repeat:no-repeat;
    border-bottom-left-radius: 20vw; 
}
.section-right .card-right img{
    position: relative;
    z-index: 2;
    width: 40vw;
    height: 40vh;
    margin-top: 10vw;
    margin-left: 55vw;
    filter: brightness(80%);
}
.section-right .card-right h1{
    color: white;
    font-size: 3.5vw;
    font-weight: 700;
    letter-spacing: 0.25vw;
    z-index: 3;
    margin-top: -20vw;
    margin-left: 12vw;
    
}
.section-right .card-right .social-icons{
 float: right;
 margin-right: 5vw;
 margin-top: 6vw;
}
.card-right-background{
    position: relative;
    z-index: 2;
    width: 100vw;
    height: 83vh;
    margin-top: 0vw;
    margin-left: -50vw;
    background-color: #fb4f00;
    border-bottom-left-radius: 20vw;
   
}

  .content-first{
    margin-top: 2vw;
    margin-left: 0vw;   
}
.img-content{
   
    margin-top: 2vw;
   margin-left: -15vw;
}
.img-work{
   transition:  0.5s;
   float: left;
   width: 20vw;
   height: 15vw;  
}


.content-first h2{
   margin-left: -15vw;
   font-size: 2.5vw;  
}
.content-first hr{
    margin-left: -15vw;
    width: 24%; 
    height: 5px;
    border: none;
    background-color : #fb4f00;
 }

 :root{
    --background-dark: #2d3548;
    --text-light: rgba(255,255,255,0.6);
    --text-lighter: rgba(255,255,255,0.9);
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
    --width-container: 1200px;
  }
 .hero-section{
     margin-top: 1vw;
     margin-bottom: 25vw;
    margin-left: -20vw;
    align-items: flex-start;
    background-color:#FAFAFA;
    display: flex;
    min-height: 100%;
    justify-content: center;
    padding: var(--spacing-xxl) var(--spacing-l);
  }
  
  .card-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: var(--spacing-l);
    grid-row-gap: var(--spacing-l);
    max-width: var(--width-container);
    width: 100%;
  }
  
  @media(min-width: 540px){
    .card-grid{
      grid-template-columns: repeat(2, 1fr); 
    }
  }
  
  @media(min-width: 960px){
    .card-grid{
      grid-template-columns: repeat(4, 1fr); 
    }
  }
  
  .card{
    list-style: none;
    position: relative;
  }
  
  .card:before{
    content: '';
    display: block;
    padding-bottom: 150%;
    width: 100%;
  }
  
  .card__background{
    background-size: cover;
    background-position: center;
    // border-radius: var(--spacing-l);
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition: 
      filter 200ms linear,
      transform 200ms linear;
  }
  
  .card:hover .card__background{
    transform: scale(1.05) translateZ(0);
  }
  
  .card-grid:hover > .card:not(:hover) .card__background{
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
  }
  
  .card__content{
    left: 0;
    padding: var(--spacing-l);
    position: absolute;
    top: 10vw;
    border: solid 4px #fb4f00;
    min-width: 13vw;
  }
  
  .card__category{
    color: var(--text-light);
    font-size: 0.9rem;
    margin-bottom: var(--spacing-s);
    text-transform: uppercase;
  }
  
  .card__heading{
    color: var(--text-lighter);
    font-size: 1.9rem;
    text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
    line-height: 1.4;
    // word-spacing: 100vw;
  }
.content-footer{
    position: relative;
    background-color: #fafafa;
    z-index: 2;
    width: 100vw;
    height: 30vw;
    margin-top: 0vw;
    margin-left: -50vw
    
}
.content-footer hr{
    margin-left: 10vw;
    margin-bottom:2vw ;
    width: 33%; 
    height: 5px;
    border: none;
    background-color : #fb4f00;
}
.content-footer h3{
    padding-top: 2vw;
    padding-left: 10vw;
    font-size: 2vw;
}
.content-footer p{
    padding-bottom: 1vw;
    padding-left: 10vw;
    padding-right: 2vw;
    font-weight: 100;
    font-size: 1vw;
}
.content-footer img{
    
    float: right;
    width: 40vw;
    height: 30vw;
    margin-right: 10vw;
}
.social-icons{
    margin-top: 1vw;
    margin-left: 2vw;
    font-size: 30px;
    
}
.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 0px 5px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
  



  /*About page*/
  .about-content{
    margin-bottom: 0vh;
}
  .container-nav-page {
    margin: 0px;
    width: auto;
    z-index: 100;
  }
  .about-content img{
    float: left;
    z-index: 2;
    width: 25vw;
    height: 40vh;
    margin-top: 0;
    margin-left: 10vw;
    margin-right: 2vw;
    margin-bottom: 10px;
    box-shadow: 10px 10px 50px 0px rgba(0,0,0,0.75)
  }
  .about-text{
    margin-left: 10vw;
    margin-top:5vh;
    width: 80vw;
    height: 90vh;
    z-index: -1;
  }
  .about-text h2{
      font-size: 1.5vw;
      padding: 2vw;
}
  .about-text p{
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-weight: 100;
      font-size: 1vw;
      padding-left: 2vw;
      padding-right: 2vw;
      
  }

  /*Our work page*/

  .gallery-img{
      padding-top: 4vw;
      padding-left: 8vw;
      padding-right: 8vw;
  }
  .hello {
    opacity: 1 !important;
  }
  .full {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .full .content {
    background-color: rgba(0,0,0,0.75) !important;
    height: 100%;
    width: 100%;
    display: grid;
  }
  .full .content img {
    left: 50%;
    transform: translate3d(0, 0, 0);
    animation: zoomin 1s ease;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
  }
  .byebye {
    opacity: 0;
  }
  .byebye:hover {
    transform: scale(0.2) !important;
  }
  .gallery {
    display: grid;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 8px;
  }
  .gallery img {
    max-width: 100%;
    border-radius: 0px;
    box-shadow: 0 0 16px #333;
    transition: all 1.5s ease;
  }
  .gallery img:hover {
    box-shadow: 0 0 32px #333;
  }
  .gallery .content {
    padding: 4px;
  }
  .gallery .gallery-item {
    transition: grid-row-start 300ms linear;
    transition: transform 300ms ease;
    transition: all 0.5s ease;
    cursor: pointer;
  }
  .gallery .gallery-item:hover {
    transform: scale(1.025);
  }
  @media (max-width: 600px) {
    .gallery {
      grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    }
  }
  @media (max-width: 400px) {
    .gallery {
      grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    }
  }
  @-moz-keyframes zoomin {
    0% {
      max-width: 50%;
      transform: rotate(-30deg);
      filter: blur(4px);
    }
    30% {
      filter: blur(4px);
      transform: rotate(-80deg);
    }
    70% {
      max-width: 50%;
      transform: rotate(45deg);
    }
    100% {
      max-width: 100%;
      transform: rotate(0deg);
    }
  }
  @-webkit-keyframes zoomin {
    0% {
      max-width: 50%;
      transform: rotate(-30deg);
      filter: blur(4px);
    }
    30% {
      filter: blur(4px);
      transform: rotate(-80deg);
    }
    70% {
      max-width: 50%;
      transform: rotate(45deg);
    }
    100% {
      max-width: 100%;
      transform: rotate(0deg);
    }
  }
  @-o-keyframes zoomin {
    0% {
      max-width: 50%;
      transform: rotate(-30deg);
      filter: blur(4px);
    }
    30% {
      filter: blur(4px);
      transform: rotate(-80deg);
    }
    70% {
      max-width: 50%;
      transform: rotate(45deg);
    }
    100% {
      max-width: 100%;
      transform: rotate(0deg);
    }
  }
  @keyframes zoomin {
    0% {
      max-width: 50%;
      transform: rotate(-30deg);
      filter: blur(4px);
    }
    30% {
      filter: blur(4px);
      transform: rotate(-80deg);
    }
    70% {
      max-width: 50%;
      transform: rotate(45deg);
    }
    100% {
      max-width: 100%;
      transform: rotate(0deg);
    }
  }












